.projects-page {
  display: flex;
  flex-direction: column;
  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: fn.rem(50);
  }
}

@media screen and (max-width: 850px) {
  .cards-wrapper {
    justify-content: center;
  }
}
