$body-color: #181818;
$background-color: #e6e6e6;
$link-dark: #fcd37a;
$link: #3965d4;
$border-radius: 1rem;
$toggle-bg: #f0eb9d;
$toggle-fg: #ffd000;
$toggle-bg-dark: #283452;
$toggle-fg-dark: #00a6ff;
